@font-face {
  font-family: fonts;
  src: url(./fonts/static/SignikaNegative-Medium.ttf);
}

@font-face {
  font-family: fontslight;
  src: url(./fonts/static/SignikaNegative-Light.ttf);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  background-color: rgb(20, 0, 24);
  height: 100vh;
}

.container {
  height: 100vh;
}

.startedoffer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70%;
}

.startedoffer h1 {
  font-family: fonts;
  text-transform: capitalize;
  font-weight: 500;
  color: white;
  margin: 0;
}

.startedoffer span {
  color: #0cf;
}

.startedoffer p {
  color: rgb(126, 126, 126);
  text-align: center;
  font-family: fontslight;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.startedoffer a {
  padding: 10px 20px;
  background-color: #0cf;
  color: white;
  transition: all 0.5s;
  text-transform: capitalize;
  font-family: fontslight;
  border-radius: 5px;
}

.startedoffer a:hover {
  background-color: #0cf;
  color: white;
}

.starthead {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 15px;
}

.logoico {
  position: relative;
  top: 10px;
}

.logo p {
  color: white;
  display: inline-block;
  text-transform: capitalize;
  font-size: 17px;
  font-family: fonts;
}

.headbtn {
  margin-right: 15px;
  margin-top: 15px;
}

.headbtn .loyalpoint {
  color: #0cf;
  font-size: 18px;
}

.singup {
  background-color: #0cf;
  padding: 6px 15px;
  border-radius: 5px;
}

.login {
  padding: 6px 15px;
  border-radius: 5px;
  border: 1px solid white;
}

.headbtn a {
  color: white;
  margin-right: 5px;
  font-family: fonts;
  font-weight: 400;
}

.headbtn a:hover {
  color: rgb(177, 176, 176);
  transition: all 0.5s;
}

.login2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(153, 153, 153, 0.56);
  display: none;
}

.loginform {
  height: 600px;
  width: 400px;
  background-color: #fff;
  margin: auto;
  margin-top: 40px;
  background-color: #292f3e;
  position: relative;
}

.formoffer {
  display: flex;
  justify-content: space-around;
}

.formoffer a {
  color: white;
  font-family: fontslight;
  margin-top: 30px;
  font-size: 18px;
}

.loginp {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  align-items: center;
  height: 200px;
}

.mail,
.pass {
  width: 250px;
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #32394b;
  color: white;
  border: 1px solid #7c7f87;
}

.loginsub {
  position: absolute;
  bottom: 30px;

  height: 50px;
  width: 80%;
  background-color: #32394b;
  color: white;
  border: 1px solid #7c7f87;
}

.logincancle {
  display: inline-block;
  height: 50px;
  width: 50px;
  position: relative;
  left: 85%;
  top: 30px;
  cursor: pointer;
}

.logincancle span {
  height: 5px;
  width: 40px;
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
}

.logincancle span:nth-child(1) {
  transform: rotate(47deg);
}

.logincancle span:nth-child(2) {
  transform: rotate(-47deg);
}

.loggit {
  border-radius: 5px;
  background-color: #32394b;
  color: white;
  border: 1px solid #7c7f87;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 10px 128px;
  transition: all 0.5s;
}

.g_id_signin {
  position: absolute;
  width: 100%;
  opacity: 0;
}

.loggoogle {
  border-radius: 5px;
  background-color: #32394b;
  color: white;
  border: 1px solid #7c7f87;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 10px 128px;
  transition: all 0.5s;
}

.icogitlog {
  position: absolute;
  left: 5px;
}

.icologgoogle {
  position: absolute;
  left: 5px;
}

.loggit:hover {
  background-color: #1b2132;
  transition: all 0.5s;
}

.loggoogle:hover {
  background-color: #1b2132;
  transition: all 0.5s;
}