@font-face {
  font-family: fonts;
  src: url(./fonts/static/SignikaNegative-Medium.ttf);
}

@font-face {
  font-family: fontslight;
  src: url(./fonts/static/SignikaNegative-Light.ttf);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(83, 83, 83); */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(91, 91, 91);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  background-color: #14171f;
  height: 100vh;
}

.container {
  width: 98%;
  margin: auto;
}

.starthead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(73, 73, 73);
  background-color: #181b26;
}

.logo {
  margin-left: 15px;
}

.logoico {
  position: relative;
  top: 10px;
}

.logo p {
  color: white;
  display: inline-block;
  text-transform: capitalize;
  font-size: 17px;
  font-family: fonts;
}

.headbtn {
  margin-right: 15px;
  margin-top: 15px;
}

.paybtn {
  padding: 6px 15px;
  border-radius: 5px;
  border: 1px solid white;
  display: none;
}

.headbtn .loyalpoint {
  color: #0cf;
  font-size: 18px;
}

.paywrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(153, 153, 153, 0.56);
  position: fixed;
  z-index: 999999999;
  display: none;
}

@keyframes payMove {
  0% {
    top: -200%;
  }

  100% {
    top: 0%;
  }
}

@keyframes payMoveCancle {
  0% {
    top: 0%;
  }

  100% {
    top: -200%;
  }
}

.payMouvClas {
  animation: payMove 1s forwards;
}

.payMoveCancleClass {
  animation: payMoveCancle 1s forwards;
}

.payWind {
  border: 2px solid white;
  height: 500px;
  width: 400px;
  text-align: center;
  position: fixed;
  margin: auto;
  left: 0;
  top: -200%;
  bottom: 0;
  right: 0;
  background-color: #181b26;
  z-index: 9999;
  border-radius: 10px;
}

.payWind h3 {
  color: white;
  font-family: fonts;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 0;
}

.paypalbtnA {
  color: white;
  padding: 6px 110px;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.5s;
  position: relative;
  top: 65%;
}

.paypalbtnA:hover {
  background-color: #0cf;
  transition: all 0.5s;
}

.paycancle {
  display: inline-block;
  height: 50px;
  width: 50px;
  position: relative;
  left: 35%;
  top: 30px;
  cursor: pointer;
  color: white;
}

.paycancle span {
  height: 5px;
  width: 40px;
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
}

.paycancle span:nth-child(1) {
  transform: rotate(47deg);
}

.paycancle span:nth-child(2) {
  transform: rotate(-47deg);
}

.singup {
  background-color: #0cf;
  padding: 6px 15px;
  border-radius: 5px;
  transition: all 0.5s;
}

.login {
  padding: 6px 15px;
  border-radius: 5px;
  border: 1px solid white;
}

.headbtn a {
  color: white;
  margin-right: 5px;
  font-family: fonts;
  font-weight: 400;
}

.headbtn a:hover:not(:nth-child(5)) {
  color: #0cf;
  transition: all 0.5s;
}

.headbtn a:hover:not(:nth-child(7)) {
  color: #0cf;
  transition: all 0.5s;
}

.headbtn a:nth-child(5):hover,
.headbtn a:nth-child(7):hover {
  background-color: rgb(4, 149, 185);
  color: white;
  transition: all 0.5s;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  background-color: #14171f;
  height: 100%;
}

.leftside {
  width: 42%;
  border: 2px solid rgb(67, 66, 66);
  height: 85vh;
  border-radius: 5px;
  background-color: #181b26;
  transition: all 0.5s;
  overflow: hidden;
}

.left100 {
  width: 100%;
  border: 2px solid rgb(67, 66, 66);
  height: 85vh;
  border-radius: 5px;
  background-color: #181b26;
  transition: all 0.5s;
}

.righteside {
  width: 57%;
  border: 2px solid rgb(67, 66, 66);
  height: 85vh;
  border-radius: 5px;
  background-color: #181b26;
  overflow-y: auto;
}

.rightbody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.right0 {
  display: none;
}

.leftheader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  border-bottom: 2px solid rgb(67, 66, 66);
  background-color: #14171f;
}

.leftheader h3 {
  color: white;
  font-family: fonts;
  font-weight: 500;
  display: inline-block;
  margin-left: 15px;
}

.filebtn {
  color: white;
  background-color: #2f3238;
  border: none;
  margin-top: 13px;
  border-radius: 5px;
  font-family: fontslight;
  cursor: pointer;
  margin-right: 15px;
  padding: 10px 30px;
}

.rightheader {
  width: 100%;
  margin: auto;
  border-bottom: 2px solid rgb(67, 66, 66);
  background-color: #14171f;
  display: flex;
  justify-content: space-between;
}

.rightheader h3 {
  color: white;
  font-family: fonts;
  font-weight: 500;
  display: inline-block;
  margin-left: 15px;
}

.leftbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 125px);
  overflow-y: auto;
}

ul {
  list-style-type: none;
}

.leftmasage {
  color: white;
  background-color: #000000;
  width: 85%;
  margin: auto;
  border-radius: 8px;
  margin-top: 15px;
  padding: 20px 10px 20px 20px;
  text-align: left;
}

.secondmasagebox {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 90%;
}

.leftmasagenew2 {
  color: white;
  background-color: #2b3044;
  min-height: 40px;
  min-width: 150px;
  width: 80%;
  border-radius: 8px;
  padding: 0;
  margin-top: 18px;
  word-wrap: break-word;
}

.leftmasagenew3 {
  color: white;
  background-color: #2b3044;
  min-height: 40px;
  min-width: 150px;
  width: 40%;
  border-radius: 8px;
  padding: 0;
  margin-top: 18px;
  word-wrap: break-word;
}

.leftmasagenew2 pre {
  margin: 0px;
}

.leftmasagenew2 code {
  border-radius: 8px;
}

.leftmasagenew2.question {
  align-self: flex-end;
}

.leftmasagenew2.answer {
  align-self: flex-start;
}

.browsdiv {
  position: relative;
  display: inline-block;
}

.browsico {
  position: absolute;
  top: 21px;
  left: 5px;
}

.textenter {
  background-color: #15171f;
  border: 1px solid rgb(91, 90, 97);
  padding: 5px;
  color: white;
  border-radius: 7px;
  resize: none;
  flex: 0.95;
}

.textenterbig {
  background-color: #15171f;
  border: none;
  padding: 18px 130px;
  width: 400px;
  border-radius: 7px;
}

#message_form {
  display: flex;
  justify-content: center;
}

.masagesub {
  padding: 15px 40px;
  background-color: #0cf;
  color: white;
  border: none;
  border-radius: 7px;
  display: none;
}

/**/
.masagesub2 {
  padding: 15px 40px;
  background-color: rgb(111, 121, 124);
  color: white;
  border: none;
  border-radius: 7px;
}

/**/
.masagesubbig {
  padding: 14px 60px;
  background-color: #0cf;
  color: white;
  border: none;
  border-radius: 7px;
}

.codemanage {
  color: white;
  background-color: #2f3238;
  border: none;
  border-radius: 5px;
  font-family: fontslight;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 13px;
  padding: 10px 30px 0 30px;
  height: 30px;
  transition: all 0.5s;
  opacity: 0;
}

.codemanage:hover {
  background-color: #3c414a;
  transition: all 0.5s;
}

.githubblock2 {
  display: inline-block;
  background-color: #14171f;
  border: 1px solid white;
  border-radius: 7px;
  height: 80px;
  width: 370px;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}

.githubblock3 {
  display: inline-block;
  background-color: #14171f;
  border: 1px solid white;
  border-radius: 7px;
  height: 80px;
  width: 370px;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}

.githubblock4 {
  display: inline-block;
  background-color: #14171f;
  border: 1px solid white;
  border-radius: 7px;
  height: 80px;
  width: 370px;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}

.snipP {
  color: white;
  font-size: 18px;
  font-family: fontslight;
  text-transform: capitalize;
  text-align: center;
}

.githubblock4 a,
.githubblock2 a,
.githubblock3 a {
  color: white;
  font-family: fontslight;
}

.add {
  position: relative;
  top: 15px;
}

.none {
  display: none;
}

.githubrepos {
  text-align: center;
  display: none;
}

.gitoffer h1 {
  color: white;
  font-family: fonts;
}

.gitoffer p {
  color: white;
  font-family: fontslight;
}

.giturlinp {
  padding: 15px 170px;
  background-color: #14171f;
  border: 1px solid #32394b;
  border-radius: 5px;
  margin-top: 15px;
  color: white;
  font-family: fontslight;
}

.addfile {
  position: relative;
  top: 10px;
  left: 45px;
}

.urlsub {
  position: relative;
  padding: 11px 45px;
  background-color: #0cf;
  border-radius: 5px;
  margin-top: 15px;
  color: white;
  font-family: fontslight;
}

.gitlinksoffer {
  color: white;
  font-family: fonts;
  text-align: center;
}

.gitlinks {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}

.gitlinks a {
  color: white;
  border: 1px solid #32394b;
  border-radius: 5px;
  display: inline-block;
  width: 600px;
  margin-top: 15px;
  height: 50px;
  position: relative;
  font-size: 18px;
  padding-top: 15px;
  transition: all 0.5s;
}

.gitlinks a:hover {
  background-color: #32394b;
  transition: all 0.5s;
}

.githubico {
  position: absolute;
  left: 7px;
}

.yourcode {
  display: none;
  border: 2px solid #464e61;
  width: 98%;
  margin: auto;
  border-radius: 7px;
  margin-top: 15px;
}

.yourcodeheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.languages {
  margin: 20px 0 0 20px;
  background-color: #14171f;
  color: white;
  font-family: fontslight;
  padding: 5px 20px;
  border: 1px solid #32394b;
}

.yourcodebtn {
  padding: 5px 40px;
  background-color: #0cf;
  color: white;
  border: 1px solid #32394b;
  margin: 20px 20px 0px 0px;
  transition: all 0.5s;
  display: none;
  cursor: pointer;
}

.snippetName {
  background-color: #15171f;
  border: 1px solid rgb(91, 90, 97);
  padding: 5px;
  color: white;
  border-radius: 7px;
  margin-top: 20px;
  width: 200px;
}

.yourcodebtn2 {
  padding: 5px 40px;
  background-color: rgb(111, 121, 124);
  color: white;
  border: 1px solid #32394b;
  margin: 20px 20px 0px 0px;
  transition: all 0.5s;
}

.yourcodebody {
  display: flex;
  justify-content: center;
}

.textarea {
  resize: none;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #14171f;
  border: 1px solid #32394b;
  color: white;
  font-size: 18px;
  font-family: fontslight;
  height: 58vh;
  margin-bottom: 10px;
  width: 95%;
}

.textarea:focus {
  outline: none;
}

.yourcodebtn:hover {
  background-color: #32394b;
  transition: all 0.5s;
}

.login2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(153, 153, 153, 0.56);
  display: none;
}

.loginform {
  height: 600px;
  width: 400px;
  background-color: #fff;
  margin: auto;
  margin-top: 40px;
  background-color: #292f3e;
  position: relative;
}

.formoffer {
  display: flex;
  justify-content: space-around;
}

.formoffer a {
  color: white;
  font-family: fontslight;
  margin-top: 30px;
  font-size: 18px;
}

.loginp {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  align-items: center;
  height: 200px;
}

.mail,
.pass {
  width: 250px;
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #32394b;
  color: white;
  border: 1px solid #7c7f87;
}

.loginsub {
  position: absolute;
  bottom: 30px;
  height: 50px;
  width: 80%;
  background-color: #32394b;
  color: white;
  border: 1px solid #7c7f87;
  cursor: pointer;
}

.logincancle {
  display: inline-block;
  height: 50px;
  width: 50px;
  position: relative;
  left: 85%;
  top: 30px;
  cursor: pointer;
}

.logincancle span {
  height: 5px;
  width: 40px;
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
}

.logincancle span:nth-child(1) {
  transform: rotate(47deg);
}

.logincancle span:nth-child(2) {
  transform: rotate(-47deg);
}

.pass2 {
  width: 250px;
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #32394b;
  color: white;
  border: 1px solid #7c7f87;
  display: none;
}

.logout {
  background-color: #0cf;
  padding: 6px 15px;
  border-radius: 5px;
  display: none;
}

.loggit {
  border-radius: 5px;
  background-color: #32394b;
  color: white;
  border: 1px solid #7c7f87;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 10px 128px;
  transition: all 0.5s;
}

.g_id_signin {
  position: absolute;
  width: 100%;
  opacity: 0;
}

.loggoogle {
  border-radius: 5px;
  background-color: #32394b;
  color: white;
  border: 1px solid #7c7f87;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  position: relative;
  transition: all 0.5s;
  width: 19rem;
  line-height: 2.5rem;
}

.icogitlog {
  position: absolute;
  left: 5px;
}

.icologgoogle {
  position: absolute;
  left: 5px;
}

.loggit:hover {
  background-color: #1b2132;
  transition: all 0.5s;
}

.loggoogle:hover {
  background-color: #1b2132;
  transition: all 0.5s;
}

.invalidPass {
  color: rgb(255, 71, 71);
  padding: 10px 30px;
  background-color: #151a27;
  margin-top: 25px;
  border-radius: 5px;
  font-family: fontslight;
  text-transform: capitalize;
  opacity: 0;
  transition: all 0.2s;
}

.invalidmail {
  color: rgb(255, 71, 71);
  padding: 10px 30px;
  background-color: #151a27;
  margin-top: 25px;
  border-radius: 5px;
  font-family: fontslight;
  text-transform: capitalize;
  opacity: 0;
  transition: all 0.2s;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.fileForm {
  width: 100%;
  text-align: center;
}

.fileForm h3 {
  color: #0cf;
}

.custom-file-input::before {
  content: "Select some files";
  display: block;
  border: 2px solid #7c7f87;
  border-radius: 3px;
  padding: 20px 40px;
  outline: none;
  white-space: nowrap;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15pt;
  background-color: #0cf;
  color: white;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #1b2132, #1b2132);
  color: #0cf;
}

button {
  padding: 12px 40px;
  border-radius: 3px;
  border: 2px solid gray;
  font-size: 20px;
  background-color: #0cf;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 140, 175);
  border: 2px solid black;
}

button:active {
  background-color: #1b2132;
  color: #0cf;
}

.fileWrapper {
  display: none;
  width: 100%;
  height: 600px;
  padding-top: 159px;
}

.tarif-body {
  height: 100vh;
  background-color: #181b26;
}

.container {
  display: flex;
  margin: 15px;
}

.column {
  flex: 1;
  border: 1px solid rgb(73, 73, 73);
  margin: 0 15px;
  min-height: 933px;
}

.column h1 {
  text-align: center;
  color: #0cf;
  font-size: 4.5rem;
}

.column h3 {
  text-align: center;
  color: #0cf;
  font-size: 4.5rem;
  justify-content: flex-end;
  margin-top: 90%;
}

.column p {
  text-align: center;
  color: white;
  justify-content: center;
}