<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', path='/getstarted.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/mediastarted.css') }}" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="starthead">
          <div class="logo">
            <span
              class="iconify logoico"
              data-icon="material-symbols:mode-off-on"
              style="color: #0cf"
              data-width="33"
              data-height="33"
            ></span>
            <p>Tester ai</p>
          </div>        
        </div>
        
        <div class="startedoffer">
          <h1>understand any codbebase <span> with ai</span></h1>
          <p>
            stop using stack dverflow for help. talk directory to your codebase
            like you would an expert
          </p>
          <a href="/chat/{{user_id}}">get started</a>
        </div>
      </div>
    </div>

      <form id="payment-form">
        <div id="card-element"><!-- Здесь будет отображаться элемент ввода карточки --></div>
        <button id="submit-button" type="submit">Оплатить</button>
      </form>
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>    
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://js.stripe.com/v3/"></script>
  </body>
</html>
